body {
    box-sizing: border-box;
    background-color: rgba(197, 241, 238, 0.521);
}

img {
    max-width: 300px;
}

/* label {
    font-size: 20px;
    font-weight: 600;
} */

/* p {
    font-size: 20px;
    font-weight: 600;
} */

table td {
    padding-left: 1rem;
}
