body {
    box-sizing: border-box;
    background-color: rgba(197, 241, 238, 0.521);
}

img {
    max-width: 300px;
}

.selectWidth5rem {
    width: 5rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

label {
    font-weight: 500;
}

h2 {
    color: red;
}

table td {
    padding-top: 1rem;
    padding-left: 1rem;
    max-width: 8rem;
    font-weight: 500;
}

.user-message--error {
    margin: auto;
    margin-top: 1rem;
    width: 25rem;
    max-width: 90%;
    border: 1px solid red;
    color: red;
    padding: 0.5rem;
    border-radius: 3px;
    background: rgb(240, 175, 175);
    text-align: center;
}